.header {
    height: 60px;
    background-color: rgba(37, 40, 42, 0.91);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    animation: .3s ease-in-out 0s normal none 1 running fadeInDown;
   /* box-shadow: 0 1px 4px rgb(2 3 3 / 10%);*/
}